<!--This part could have been done better-->
<p>
  <button (click)="onAttempt(0)">0</button>
  <button (click)="onAttempt(1)" [disabled]="scoreSheet.activeFrame.standingPins < 1">1</button>
  <button (click)="onAttempt(2)" [disabled]="scoreSheet.activeFrame.standingPins < 2">2</button>
  <button (click)="onAttempt(3)" [disabled]="scoreSheet.activeFrame.standingPins < 3">3</button>
  <button (click)="onAttempt(4)" [disabled]="scoreSheet.activeFrame.standingPins < 4">4</button>
  <button (click)="onAttempt(5)" [disabled]="scoreSheet.activeFrame.standingPins < 5">5</button>
  <button (click)="onAttempt(6)" [disabled]="scoreSheet.activeFrame.standingPins < 6">6</button>
  <button (click)="onAttempt(7)" [disabled]="scoreSheet.activeFrame.standingPins < 7">7</button>
  <button (click)="onAttempt(8)" [disabled]="scoreSheet.activeFrame.standingPins < 8">8</button>
  <button (click)="onAttempt(9)" [disabled]="scoreSheet.activeFrame.standingPins < 9">9</button>
  <button (click)="onAttempt(10)" [disabled]="scoreSheet.activeFrame.standingPins < 10">10</button>
</p>
<app-score-sheet [scoreSheet]="scoreSheet"></app-score-sheet>
